@import 'node_modules/bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

$primary-color: #64b9e5;
$secondary-color: #104a56;
$rose-color: #F65A5A;
$light-gray: #C1C1C1;

$padding-screen: 1.5em;
$icon: 28px;
$icon-lg: 15vh;
$logo-lg: 35vh;

html {
    overflow-y: hidden!important;
}

body {
    margin: 0;
    padding: 0;
    font-family:Helvetica, Arial, sans-serif;
    color: #000000;
    font-size: 1em!important;
}

h1, h2, h3, label {
    font-family: 'Comic Sans', 'Comic Sans MS', sans-serif;
    color: #000000!important;
}

h1 {
    font-size: 1.6em;
}

.text-body{
    color: #000000!important;
}

/* Camera component */

.screen{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: [left] $padding-screen [le] auto [middle] $padding-screen [right];
    grid-template-rows: [top] 5vh [bs] 5vh [es] auto [middle] 4.3em [bottom] 5vh [end];
    overflow: hidden;
    overflow-y: auto;

    &.screen-language {
        grid-template-rows: [top] 5vh [bs] 5vh [es] 30vh [mid] auto [middle] 5vh [bottom] 5vh [end];
    }

    &.screen-login {
        grid-template-rows: [top] 5vh [bs] 5vh [es] 15vh [mid] auto [middle] 5vh [bottom] 5vh [end];
    }

    .top {
        grid-column: left/right;
        grid-row: top;
        height: fit-content;
        padding: 5vh 5vw 0.5em;
        background-color: white;

        h1 {
            font-size: 2.3em;
            text-align: center;
        }
    }

    .content {
        padding: 3em $padding-screen 1em;
        grid-column: left/right;
        grid-row: es/middle;
        overflow-y: auto;
        .card {

            &.show {
                .word-info {
                    height: 125px;
                    opacity: 1;
                    overflow-y: auto;
                }
            }

            .favorite {
                display: flex;
                flex-direction: column;
                overflow: hidden;
                transition: all 1s ease-in-out;
            }


            .word-info {
                transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
                margin-left: calc(1rem + 2 * #{$icon});
                height: 0px;
                opacity: 0;
            }

            .media {
                .icon-img {
                    width: 2*$icon;
                    height: 2*$icon;
                }
    
                h4 {
                    &.word {
                        margin-top: $icon/2;
                    }
                }
            }

        }
    }

    .menu {
        display: flex;
        align-items: center;
        z-index: 1;
        grid-column: le/middle;
        grid-row: middle/bottom;
        background-color: $primary-color;
        border-radius: 23px;

        .nav{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
        }

        .nav-item{
            flex: 1 1 $icon;
            position: relative;
            display: flex;
            justify-content: center;
        }

        .nav-link{
            text-align: center;

            &.router-link-exact-active {
                font-weight: bold;
                color: $secondary-color!important;
                position: absolute;
                top: -4em;
                padding: 0;

                &.snap {
                    top: -6em;
                    .bg-icon {
                        width: 4.5em;
                        height: 4.5em;
                    }

                    .outline {
                        width: 6em;
                        padding: 0.5em;
                        height: 6em;
                        border-radius: 100%;
                        border: 4px solid $secondary-color;
                    }
                }

                .bg-icon{
                    background-color: $secondary-color;
                    width: 4em;
                    height: 4em;
                    border-radius: 100%;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    margin: auto;
                }

                .nav-text {
                    display: block;
                }
            }

            .nav-text {
                position: relative;
                margin-top: 0.3em;
                display: none;
            }

            img {
                width: $icon;
            }
        }
    }

    .header {
        position: relative;
        width: 100%;
        height: 100%;
        grid-row: top/mid;
        grid-column: left/right;

        .bg-yellow {
            width: 100%;
            height: 100%;
            border-radius: 0 0 150px 150px;
            background-color: $primary-color;
            padding: 2em $padding-screen;

            img {
                display: block;
                margin: 0 auto;
            }

            .kangoo {
                position: relative;
                width: 10em;
                margin: 0;
                right: 0;
                float: right;
            }
        }

    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        grid-row: mid/bottom;
        width: 100%;
        font-size: inherit;

        &.form-block {
            top: -1em;
            padding: 2em 0;
            background-color: white;
            border-radius: 23px;

            .btn-next{
                margin: 0.5em 0;
                position: relative;
            }
        }

        &#v-model-lang {
            margin-top: 6em;
        }

        label {
            font-size: 1.2em;
            font-weight: 500;
        }

        .form-content {
            position: relative;
            margin-top: calc(-2em - #{$icon-lg} / 2);
        }

        .avatar {
            margin-bottom: 2em;
            overflow: hidden;
        }

        .form-group {
            width: 100%;
        }

        .form-control, .multiselect__tags {
            border-radius: 23px!important;
            border-color: $light-gray;
            padding-left: 1em;
            font-size: 1.3em;

            &.is-invalid{
                border-color: red!important;
            }
        }

        .multiselect {
            font-size: inherit;
            display: flex;

            &.multiselect--above {
                .multiselect__content-wrapper {
                    top: auto;
                    margin-bottom: 1em;
                }
            }

            .multiselect__select {
                align-self: center;
                top: auto;
                right: 1em;
    
                &::before{
                    border-width: 10px 8px 0;
                }
            }
    
            .multiselect__tags {
                align-self: center;
                padding-right: 3em;
                width: 100%;
                box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
                
                .multiselect__single {
                    font-size: inherit;
                }
            }

            .multiselect__content-wrapper {
                border-radius: 23px;
                top: 100%;
                margin-top: 1em;

                .multiselect__option {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 1.5em;
                    padding: 0.4em 0.8em;
                }

                .multiselect__option--selected.multiselect__option--highlight, .multiselect__option--highlight {
                    background: $primary-color;
                    color: inherit;
                }
            }
        }

        .btn-next{
            bottom: 0;
            font-size: 2.5em;
            margin-top: auto;
            min-width: 195px;
            line-height: unset;
        }

    }

    .grid-column-center {
        grid-column: le/middle;
    }

    .grid-mid {
        grid-row: mid;
    }

    .logo-lg {
        width: $logo-lg;
        height: calc(#{$logo-lg} - 2em);
    }

    .icon {
        width: $icon;
        height: $icon;
    }

    .shift-to-top {
        margin-top: -3em!important;
    }

    .icon-lg {
        margin: 0 auto;
        position: relative;
        width: $icon-lg;
        height: $icon-lg;
        display: flex;
        justify-content: center;
        align-items: center;

        &.icon-language {
            top: calc(-1 * #{$icon-lg} / 2);
        }

        img{
            width: 100%;
        }
    }

    .btn-primary, .btn-primary:active {
        background-color: $primary-color!important;
        border-color: $primary-color!important;
    }

    .btn-secondary, .btn-secondary:active {
        background-color: $secondary-color!important;
        border-color: $secondary-color!important;
    }

    .btn-rose{
        color: white;
        background-color: $rose-color;
        border-color: $rose-color;
    }

    .btn-outline-primary {
        color: $primary-color;
        border-color: $primary-color!important;

        &:hover, &:active {
            color: #ffffff;
            background-color: $primary-color!important;
        }
    }

    .btn {
        margin-bottom: 0.5em;
        border-radius: 23px;
        font-size: 1.2em;
        font-weight: bold;
        line-height: 2.5rem;
    }

    .camera {
        background-color: black;
        grid-column: left/right;
        grid-row: top / end;
        display: grid;
        grid-template-columns: [left] $padding-screen [lm] $icon [le] calc(100% - 2 * #{$padding-screen} - 2 * #{$icon}) [middle] $icon [rm] $padding-screen [right];
        grid-template-rows: [top] 5vh [bs] 5vh [es] 50vh [mid] auto [middle] 5vh [bottom] 5vh [end];
        justify-items: center;
        overflow: hidden;
    
        .feed, .preview {
            object-fit: cover;
            height: 100%;
            grid-column: left/right;
            grid-row: top / end;
            user-select: none;
            max-width: unset;
    
            &.front{
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
            }
        }
    
        .snap-container {
            grid-column: left / right;
            grid-row: bs/mid;
            grid-template-columns: [left] $padding-screen [lm] $icon [le] calc(100% - 2 * #{$padding-screen} - 2 * #{$icon}) [middle] $icon [rm] $padding-screen [right];
            grid-template-rows: [top] 5vh [bs] 5vh [es] auto [middle] 5vh [bottom] 5vh [end];
            z-index: 5;
            width: 100vw;
            height: 100%;
            display: grid;
    
            .thought {
                grid-row: top/es;
                grid-column: le/middle;
            }
    
            .snap {
                border-radius: 100%;
                grid-column: le;
                grid-row: middle;
                margin: auto;
                width: 5vh;
                height: 5vh;
            }
    
            .switch-button {
                grid-column: middle/rm;
                grid-row: top/bs;
                z-index: 5;
                border-radius: 100%;
                width: 5vh;
                height: 5vh;
                font-size: 1.5em;
            }
    
            .back {
                grid-column: lm/le;
                grid-row: top/bs;
                z-index: 5;
                color: white;
                font-size: 2em;
                border: none;
            }
        }
    
    }
}

.thought {
    font-size: 1.3em;
    display:flex;
    background-color:#fff;
    padding:20px;
    border-radius:30px;
    min-width:40px;
    width: 100%;
    min-height:40px;
    margin:20px auto;
    position:relative;
    align-items:center;
    justify-content:center;
    text-align:center;
    z-index: 1;

    &::before, &::after {
        content:"";
        background-color:#fff;
        border-radius:50%;
        display:block;
        position:absolute;
        z-index: -1;
    }

    &::before {
        width:44px;
        height:44px;
        top:-12px;
        left:28px;
        box-shadow:-50px 30px 0 -12px #fff;
    }

    &::after {
        bottom:-10px;
        right:26px;
        width:30px;
        height:30px;
        box-shadow:40px -34px 0 0 #fff,
                -28px -6px 0 -2px #fff,
                -24px 17px 0 -6px #fff,
                -5px 25px 0 -10px #fff;
    }
  }